s4-mcp/.env
s4-mcp/__pycache__/example2-3.cpython-313.pyc
s4-mcp/__pycache__/mcp_gmail.cpython-311.pyc
s4-mcp/__pycache__/server.cpython-313.pyc
s4-mcp/credentials.json
s4-mcp/token.json
s4-mcp/OLD_credentials.json
